<div [formGroup]="formCompanyFilter">

    <div class="form-control">
        <input type="text" formControlName="inputControl">
    </div>

    <select class="custom-select" formControlName="companyIndustryControl">
        <option value="">Choose industry</option>
        <option *ngFor="let item of industryList" [ngValue]="item">{{item}}</option>
    </select>

    <select class="custom-select" formControlName="companyTypeControl">
        <option value="">Choose type</option>
        <option *ngFor="let item of typeList" [ngValue]="item">{{item}}</option>
    </select>

</div>