<form [formGroup]="form">
    <div class="form-group">
        <ul>
            <li>
                <label>
                    <input formControlName="nameControl" type="checkbox" />
                    Название
                </label>
            </li>
            <li>
                <label>
                    <input formControlName="typeControl" type="checkbox" />
                    Тип
                </label>
            </li>
            <li>
                <label>
                    <input formControlName="industryControl" type="checkbox" />
                    Вид деятельности
                </label>
            </li>
        </ul>



    </div>
</form>
