<form [formGroup]="form">
    <div class="form-group">
        <ul>
            <li>
                <label>
                    <input formControlName="nameControl" type="checkbox" value="companyName"/>
                    Название
                </label>
            </li>
            <li>
                <label>
                    <input formControlName="typeControl" type="checkbox" value="companyType"/>
                    Тип
                </label>
            </li>
            <li>
                <label>
                    <input formControlName="industryControl" type="checkbox" value="companyIndustry"/>
                    Вид деятельности
                </label>
            </li>
        </ul>
    </div>
</form>
