<div class="card">
    <div class="card-header">
        <h2>{{companyData.businessName}}</h2>
        <div class="information">
            <p>industry: {{companyData.industry}}</p> 
            <p>type: {{companyData.type}}</p>
        </div>
    </div>
    <div class="logo">
        <a [routerLink]="['/detail', companyData.id]" [state]="companyData">
            <img class="image-company" src="{{companyData.logo}}">
        </a>
    </div>
    <button 
    [routerLink]="['/detail', companyData.id]"
    [state]="companyData"
    class="btn btn-dark"
    >Открыть</button>
</div>
